In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
df=pd.read_csv("/train.csv")
print(df.head(10))
df.shape

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

(891, 12)

In [6]:
print(df.to_markdown())

|     |   PassengerId |   Survived |   Pclass | Name                                                                               | Sex    |    Age |   SibSp |   Parch | Ticket             |     Fare | Cabin           | Embarked   |
|----:|--------------:|-----------:|---------:|:-----------------------------------------------------------------------------------|:-------|-------:|--------:|--------:|:-------------------|---------:|:----------------|:-----------|
|   0 |             1 |          0 |        3 | Braund, Mr. Owen Harris                                                            | male   |  22    |       1 |       0 | A/5 21171          |   7.25   | nan             | S          |
|   1 |             2 |          1 |        1 | Cumings, Mrs. John Bradley (Florence Briggs Thayer)                                | female |  38    |       1 |       0 | PC 17599           |  71.2833 | C85             | C          |
|   2 |             3 |          1 |        3 | Heikkinen, Miss. Laina                                                             | female |  26    |       0 |       0 | STON/O2. 3101282   |   7.925  | nan             | S          |
|   3 |             4 |          1 |        1 | Futrelle, Mrs. Jacques Heath (Lily May Peel)                                       | female |  35    |       1 |       0 | 113803             |  53.1    | C123            | S          |
|   4 |             5 |          0 |        3 | Allen, Mr. William Henry                                                           | male   |  35    |       0 |       0 | 373450             |   8.05   | nan             | S          |
|   5 |             6 |          0 |        3 | Moran, Mr. James                                                                   | male   | nan    |       0 |       0 | 330877             |   8.4583 | nan             | Q          |
|   6 |             7 |          0 |        1 | McCarthy, Mr. Timothy J                                                            | male   |  54    |       0 |       0 | 17463              |  51.8625 | E46             | S          |
|   7 |             8 |          0 |        3 | Palsson, Master. Gosta Leonard                                                     | male   |   2    |       3 |       1 | 349909             |  21.075  | nan             | S          |
|   8 |             9 |          1 |        3 | Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)                                  | female |  27    |       0 |       2 | 347742             |  11.1333 | nan             | S          |
|   9 |            10 |          1 |        2 | Nasser, Mrs. Nicholas (Adele Achem)                                                | female |  14    |       1 |       0 | 237736             |  30.0708 | nan             | C          |
|  10 |            11 |          1 |        3 | Sandstrom, Miss. Marguerite Rut                                                    | female |   4    |       1 |       1 | PP 9549            |  16.7    | G6              | S          |
|  11 |            12 |          1 |        1 | Bonnell, Miss. Elizabeth                                                           | female |  58    |       0 |       0 | 113783             |  26.55   | C103            | S          |
|  12 |            13 |          0 |        3 | Saundercock, Mr. William Henry                                                     | male   |  20    |       0 |       0 | A/5. 2151          |   8.05   | nan             | S          |
|  13 |            14 |          0 |        3 | Andersson, Mr. Anders Johan                                                        | male   |  39    |       1 |       5 | 347082             |  31.275  | nan             | S          |
|  14 |            15 |          0 |        3 | Vestrom, Miss. Hulda Amanda Adolfina                                               | female |  14    |       0 |       0 | 350406             |   7.8542 | nan             | S          |
|  15 |            16 |          1 |        2 | Hewlett, Mrs. (Mary D Kingcome)                                                    | female |  55    |       0 |       0 | 248706             |  16      | nan             | S          |
|  16 |            17 |          0 |        3 | Rice, Master. Eugene                                                               | male   |   2    |       4 |       1 | 382652             |  29.125  | nan             | Q          |
|  17 |            18 |          1 |        2 | Williams, Mr. Charles Eugene                                                       | male   | nan    |       0 |       0 | 244373             |  13      | nan             | S          |
|  18 |            19 |          0 |        3 | Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)                            | female |  31    |       1 |       0 | 345763             |  18      | nan             | S          |
|  19 |            20 |          1 |        3 | Masselmani, Mrs. Fatima                                                            | female | nan    |       0 |       0 | 2649               |   7.225  | nan             | C          |
|  20 |            21 |          0 |        2 | Fynney, Mr. Joseph J                                                               | male   |  35    |       0 |       0 | 239865             |  26      | nan             | S          |
|  21 |            22 |          1 |        2 | Beesley, Mr. Lawrence                                                              | male   |  34    |       0 |       0 | 248698             |  13      | D56             | S          |
|  22 |            23 |          1 |        3 | McGowan, Miss. Anna "Annie"                                                        | female |  15    |       0 |       0 | 330923             |   8.0292 | nan             | Q          |
|  23 |            24 |          1 |        1 | Sloper, Mr. William Thompson                                                       | male   |  28    |       0 |       0 | 113788             |  35.5    | A6              | S          |
|  24 |            25 |          0 |        3 | Palsson, Miss. Torborg Danira                                                      | female |   8    |       3 |       1 | 349909             |  21.075  | nan             | S          |
|  25 |            26 |          1 |        3 | Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)                          | female |  38    |       1 |       5 | 347077             |  31.3875 | nan             | S          |
|  26 |            27 |          0 |        3 | Emir, Mr. Farred Chehab                                                            | male   | nan    |       0 |       0 | 2631               |   7.225  | nan             | C          |
|  27 |            28 |          0 |        1 | Fortune, Mr. Charles Alexander                                                     | male   |  19    |       3 |       2 | 19950              | 263      | C23 C25 C27     | S          |
|  28 |            29 |          1 |        3 | O'Dwyer, Miss. Ellen "Nellie"                                                      | female | nan    |       0 |       0 | 330959             |   7.8792 | nan             | Q          |
|  29 |            30 |          0 |        3 | Todoroff, Mr. Lalio                                                                | male   | nan    |       0 |       0 | 349216             |   7.8958 | nan             | S          |
|  30 |            31 |          0 |        1 | Uruchurtu, Don. Manuel E                                                           | male   |  40    |       0 |       0 | PC 17601           |  27.7208 | nan             | C          |
|  31 |            32 |          1 |        1 | Spencer, Mrs. William Augustus (Marie Eugenie)                                     | female | nan    |       1 |       0 | PC 17569           | 146.521  | B78             | C          |
|  32 |            33 |          1 |        3 | Glynn, Miss. Mary Agatha                                                           | female | nan    |       0 |       0 | 335677             |   7.75   | nan             | Q          |
|  33 |            34 |          0 |        2 | Wheadon, Mr. Edward H                                                              | male   |  66    |       0 |       0 | C.A. 24579         |  10.5    | nan             | S          |
|  34 |            35 |          0 |        1 | Meyer, Mr. Edgar Joseph                                                            | male   |  28    |       1 |       0 | PC 17604           |  82.1708 | nan             | C          |
|  35 |            36 |          0 |        1 | Holverson, Mr. Alexander Oskar                                                     | male   |  42    |       1 |       0 | 113789             |  52      | nan             | S          |
|  36 |            37 |          1 |        3 | Mamee, Mr. Hanna                                                                   | male   | nan    |       0 |       0 | 2677               |   7.2292 | nan             | C          |
|  37 |            38 |          0 |        3 | Cann, Mr. Ernest Charles                                                           | male   |  21    |       0 |       0 | A./5. 2152         |   8.05   | nan             | S          |
|  38 |            39 |          0 |        3 | Vander Planke, Miss. Augusta Maria                                                 | female |  18    |       2 |       0 | 345764             |  18      | nan             | S          |
|  39 |            40 |          1 |        3 | Nicola-Yarred, Miss. Jamila                                                        | female |  14    |       1 |       0 | 2651               |  11.2417 | nan             | C          |
|  40 |            41 |          0 |        3 | Ahlin, Mrs. Johan (Johanna Persdotter Larsson)                                     | female |  40    |       1 |       0 | 7546               |   9.475  | nan             | S          |
|  41 |            42 |          0 |        2 | Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)                           | female |  27    |       1 |       0 | 11668              |  21      | nan             | S          |
|  42 |            43 |          0 |        3 | Kraeff, Mr. Theodor                                                                | male   | nan    |       0 |       0 | 349253             |   7.8958 | nan             | C          |
|  43 |            44 |          1 |        2 | Laroche, Miss. Simonne Marie Anne Andree                                           | female |   3    |       1 |       2 | SC/Paris 2123      |  41.5792 | nan             | C          |
|  44 |            45 |          1 |        3 | Devaney, Miss. Margaret Delia                                                      | female |  19    |       0 |       0 | 330958             |   7.8792 | nan             | Q          |
|  45 |            46 |          0 |        3 | Rogers, Mr. William John                                                           | male   | nan    |       0 |       0 | S.C./A.4. 23567    |   8.05   | nan             | S          |
|  46 |            47 |          0 |        3 | Lennon, Mr. Denis                                                                  | male   | nan    |       1 |       0 | 370371             |  15.5    | nan             | Q          |
|  47 |            48 |          1 |        3 | O'Driscoll, Miss. Bridget                                                          | female | nan    |       0 |       0 | 14311              |   7.75   | nan             | Q          |
|  48 |            49 |          0 |        3 | Samaan, Mr. Youssef                                                                | male   | nan    |       2 |       0 | 2662               |  21.6792 | nan             | C          |
|  49 |            50 |          0 |        3 | Arnold-Franchi, Mrs. Josef (Josefine Franchi)                                      | female |  18    |       1 |       0 | 349237             |  17.8    | nan             | S          |
|  50 |            51 |          0 |        3 | Panula, Master. Juha Niilo                                                         | male   |   7    |       4 |       1 | 3101295            |  39.6875 | nan             | S          |
|  51 |            52 |          0 |        3 | Nosworthy, Mr. Richard Cater                                                       | male   |  21    |       0 |       0 | A/4. 39886         |   7.8    | nan             | S          |
|  52 |            53 |          1 |        1 | Harper, Mrs. Henry Sleeper (Myna Haxtun)                                           | female |  49    |       1 |       0 | PC 17572           |  76.7292 | D33             | C          |
|  53 |            54 |          1 |        2 | Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)                                 | female |  29    |       1 |       0 | 2926               |  26      | nan             | S          |
|  54 |            55 |          0 |        1 | Ostby, Mr. Engelhart Cornelius                                                     | male   |  65    |       0 |       1 | 113509             |  61.9792 | B30             | C          |
|  55 |            56 |          1 |        1 | Woolner, Mr. Hugh                                                                  | male   | nan    |       0 |       0 | 19947              |  35.5    | C52             | S          |
|  56 |            57 |          1 |        2 | Rugg, Miss. Emily                                                                  | female |  21    |       0 |       0 | C.A. 31026         |  10.5    | nan             | S          |
|  57 |            58 |          0 |        3 | Novel, Mr. Mansouer                                                                | male   |  28.5  |       0 |       0 | 2697               |   7.2292 | nan             | C          |
|  58 |            59 |          1 |        2 | West, Miss. Constance Mirium                                                       | female |   5    |       1 |       2 | C.A. 34651         |  27.75   | nan             | S          |
|  59 |            60 |          0 |        3 | Goodwin, Master. William Frederick                                                 | male   |  11    |       5 |       2 | CA 2144            |  46.9    | nan             | S          |
|  60 |            61 |          0 |        3 | Sirayanian, Mr. Orsen                                                              | male   |  22    |       0 |       0 | 2669               |   7.2292 | nan             | C          |
|  61 |            62 |          1 |        1 | Icard, Miss. Amelie                                                                | female |  38    |       0 |       0 | 113572             |  80      | B28             | nan        |
|  62 |            63 |          0 |        1 | Harris, Mr. Henry Birkhardt                                                        | male   |  45    |       1 |       0 | 36973              |  83.475  | C83             | S          |
|  63 |            64 |          0 |        3 | Skoog, Master. Harald                                                              | male   |   4    |       3 |       2 | 347088             |  27.9    | nan             | S          |
|  64 |            65 |          0 |        1 | Stewart, Mr. Albert A                                                              | male   | nan    |       0 |       0 | PC 17605           |  27.7208 | nan             | C          |
|  65 |            66 |          1 |        3 | Moubarek, Master. Gerios                                                           | male   | nan    |       1 |       1 | 2661               |  15.2458 | nan             | C          |
|  66 |            67 |          1 |        2 | Nye, Mrs. (Elizabeth Ramell)                                                       | female |  29    |       0 |       0 | C.A. 29395         |  10.5    | F33             | S          |
|  67 |            68 |          0 |        3 | Crease, Mr. Ernest James                                                           | male   |  19    |       0 |       0 | S.P. 3464          |   8.1583 | nan             | S          |
|  68 |            69 |          1 |        3 | Andersson, Miss. Erna Alexandra                                                    | female |  17    |       4 |       2 | 3101281            |   7.925  | nan             | S          |
|  69 |            70 |          0 |        3 | Kink, Mr. Vincenz                                                                  | male   |  26    |       2 |       0 | 315151             |   8.6625 | nan             | S          |
|  70 |            71 |          0 |        2 | Jenkin, Mr. Stephen Curnow                                                         | male   |  32    |       0 |       0 | C.A. 33111         |  10.5    | nan             | S          |
|  71 |            72 |          0 |        3 | Goodwin, Miss. Lillian Amy                                                         | female |  16    |       5 |       2 | CA 2144            |  46.9    | nan             | S          |
|  72 |            73 |          0 |        2 | Hood, Mr. Ambrose Jr                                                               | male   |  21    |       0 |       0 | S.O.C. 14879       |  73.5    | nan             | S          |
|  73 |            74 |          0 |        3 | Chronopoulos, Mr. Apostolos                                                        | male   |  26    |       1 |       0 | 2680               |  14.4542 | nan             | C          |
|  74 |            75 |          1 |        3 | Bing, Mr. Lee                                                                      | male   |  32    |       0 |       0 | 1601               |  56.4958 | nan             | S          |
|  75 |            76 |          0 |        3 | Moen, Mr. Sigurd Hansen                                                            | male   |  25    |       0 |       0 | 348123             |   7.65   | F G73           | S          |
|  76 |            77 |          0 |        3 | Staneff, Mr. Ivan                                                                  | male   | nan    |       0 |       0 | 349208             |   7.8958 | nan             | S          |
|  77 |            78 |          0 |        3 | Moutal, Mr. Rahamin Haim                                                           | male   | nan    |       0 |       0 | 374746             |   8.05   | nan             | S          |
|  78 |            79 |          1 |        2 | Caldwell, Master. Alden Gates                                                      | male   |   0.83 |       0 |       2 | 248738             |  29      | nan             | S          |
|  79 |            80 |          1 |        3 | Dowdell, Miss. Elizabeth                                                           | female |  30    |       0 |       0 | 364516             |  12.475  | nan             | S          |
|  80 |            81 |          0 |        3 | Waelens, Mr. Achille                                                               | male   |  22    |       0 |       0 | 345767             |   9      | nan             | S          |
|  81 |            82 |          1 |        3 | Sheerlinck, Mr. Jan Baptist                                                        | male   |  29    |       0 |       0 | 345779             |   9.5    | nan             | S          |
|  82 |            83 |          1 |        3 | McDermott, Miss. Brigdet Delia                                                     | female | nan    |       0 |       0 | 330932             |   7.7875 | nan             | Q          |

In [7]:
import pandas as pd

In [8]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
age_mean_value=df['Age'].mean()
df['Age']=df['Age'].fillna(age_mean_value)

In [12]:
df.drop("Cabin",axis=1,inplace=True)

In [13]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [14]:
filtered_age=df[df.Age>40]
filtered_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,S
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,S
...,...,...,...,...,...,...,...,...,...,...,...
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C

In [15]:
merged_df=pd.merge(df.head(2), df.tail(2),how="outer", indicator=True)
merged_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,_merge
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,left_only
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,left_only
2,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,right_only
3,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,right_only